#!/bin/bash
#PBS -A {{ pbs.account }}
#PBS -N {{ pbs.job_name }}
#PBS -l select={{ pbs.select }}
#PBS -l walltime={{ pbs.walltime }}
#PBS -q {{ pbs.queue }}
{% if pbs.join_output %}
#PBS -j oe
{% endif %}
#PBS -l job_priority={{ pbs.priority }}

export BASEDIR={{ paths.repo_root }}
export SRCDIR=${BASEDIR}/{{ paths.src_subdir }}
export TUTORIALDIR=${BASEDIR}/{{ paths.tutorials_subdir }}
module load cuda

# Log environment and working directory
echo "PBS_O_WORKDIR: $PBS_O_WORKDIR"
echo "Current working dir: $(pwd)"
echo "Hostname: $(hostname)"
echo "Running FastEddy job: {{ test_case.name }}"

mpiexec -n {{ execution.mpi_ranks }} --ppn {{ execution.mpi_ranks }} \
  {{ execution.launcher }} ${SRCDIR}/FastEddy \
  ${TUTORIALDIR}/examples/{{ test_case.base_name }}_{{ execution.timesteps | default(10) }}steps.in
